name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

    paths:
      - 'src/**'
      - 'demo-app/**'
      - '.github/workflows/pages.yml'
      - 'package.json'
      - 'package-lock.json'
      - 'ng-package.json'
      - 'tsconfig.json'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './package-lock.json'

      - name: Install root dependencies
        run: npm ci

      - name: Build ArgentGrid library
        run: npm run build

      - name: Install demo app dependencies
        working-directory: ./demo-app
        run: npm install

      - name: Build demo app
        working-directory: ./demo-app
        run: npm run build:gh-pages

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './demo-app/dist/argent-grid-demo/browser'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
